h1 Portfolio#top
p Find me in app/views/portfolio/top.slim


.card-panel
  span.blue-text.text-darken-2
    | This is a card panel with dark blue text


.fixed-action-btn.horizontal.click-to-toggle
  a.btn-floating.btn-large.red
    i.material-icons
      | menu
  ul
    li
      a.btn-floating.red
        i.material-icons
          | insert_chart
    li
      a.btn-floating.yellow.darken-1
        i.material-icons
          | format_quote
    li
      a.btn-floating.green
        i.material-icons
          | publish
    li
      a.btn-floating.blue
        i.material-icons
          | attach_file


= form_tag( { action: :mail }, { remote: true } ) do
  a.waves-effect.waves-light.btn
    = submit_tag :mail
  = text_field_tag :tom

.collection
  a.collection-item[href="#!"]
    | Alvin
  a.collection-item.active[href="#!"]
    | Alvin
  a.collection-item[href="#!"]
    | Alvin